.fondo-nav {
    background-color: #D8D8D8;
}

.tabla {
    padding: 3px;
    border: 1px solid #b7b7b7;
    border-collapse: separate;
}

#logo {
    background-image: url('img/sisinv.png');
    height: 185px;
    width: 490px;
}

#titulo {
    font-family: serif;
}

#registro {
    background-color: red;
    width: 500px;
    z-index: 1;
    display: none;
}

.campo 
{
    width: 60px;
}