.contenido {
    background: #4d2f5e;
}

.columna {
    border: 1px black solid;
    background: #4d2f5e;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

submit:hover {
    cursor: pointer;
}

#error_u 
{
    border: 1px solid black;
    background: red;
}