.contenido {
    background: #4d2f5e;
}

.columna {
    border: 1px black solid;
    background: #4d2f5e;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

submit:hover {
    cursor: pointer;
}

.error_u 
{
    margin-top: 5px;
    margin-bottom: -10px;
    border: 1px solid black;
    background: red;
    border-radius: 5px;
    visibility: hidden;
}

.error_p 
{
    margin-top: 5px;
    margin-bottom: -10px;
    border: 1px solid black;
    background: red;
    border-radius: 5px;
    visibility: hidden;
}